# Standard ignores
*.pyc
*.pyo
*.DS_Store
*.swp
*.idea
*.project
*.pydevproject
*.kpf
venv

# Ignore data files
*.csv
data/
results/

# Ignore text files
*.txt

# Ignore Blockspring file
blockspring.py
